body {
    font-family: 'Inter', sans-serif;
}

.hero-container {
    background-image: url('../resources/imgs/About.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 40em;
}

.logo-title {
    color: #10B981;
}

.hero-title {
    color: #10B981;
}

.btn-modified {
    background-color: #10B981;
    color: white;
    height: 3em;
}

.btn-modified:hover {
    color: #10B981;
    background-color:#c6ebdf;
}

.about-desc {
    padding-left: 3em;
    padding-right: 3em;
    font-size: 20px;
}

.auth-button {
    background-color: #10B981;
    border-radius: 18px;
    color: white;
}

.auth-button:hover {
    color: #10B981;
    background-color:#c6ebdf;
}

.nav-item-custom {
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    .about-desc {
        padding: 0;
        font-size: 17px;
    }

    .about-desc-2 {
        color: white;
    }
}

@media screen and (max-width: 760px) {
    .about-desc {
        padding: 0;
        font-size: 15px;
    }
}