body {
    font-family: 'Inter', sans-serif;
}

.hero-container {
    background-image: url('../resources/imgs/Home.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 40em;
}

.logo-title {
    color: #10B981;
}

.hero-title {
    color: #10B981;
}

.btn-modified {
    background-color: #10B981;
    color: white;
    height: 3em;
}

.btn-modified:hover {
    color: #10B981;
    background-color:#c6ebdf;
}

.home-desc {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 5em;
}

.hero-content {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .home-desc {
        padding: 0;
    }

    .hero-content {
        font-size: 17px;
        color: black;
    }
}