body {
    font-family: 'Inter', sans-serif;
}

.hero-container {
    background-image: url('../resources/imgs/Home.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 36.2em;
}

.hero-title {
    color: #10B981;
}

.btn-modified {
    background-color: #10B981;
    color: white;
    height: 3em;
}

.btn-modified:hover {
    color: #10B981;
    background-color:#c6ebdf;
}

.home-desc {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 5em;
}

.hero-content {
    font-size: 20px;
}

#video-hero {
    position: absolute;
    right: 0;
    bottom: 0;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
    #video-hero {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #video-hero {
        width: auto;
        height: 100%;
    }
}

@media screen and (max-width: 1080px) {
    #video-hero {
        width: 100%;
        margin: 0 auto;
        height: 40em;
        top: 0;
    }

    .home-desc {
        padding-top: 1.5em;
    }
}

@media screen and (max-width: 768px) {
    .home-desc {
        padding: 0;
    }

    #video-hero {
        height: 42em;
    }

    .hero-container {
        background-position: left;
        height: 38em;
    }

    .hero-content {
        font-size: 17px;   
    }
}

@media screen and (max-width: 760px) {
    .hero-content {
        padding: 0;
        font-size: 16px;
    }
}