.auth-button {
    background-color: #10B981;
    border-radius: 18px;
    color: white;
}

.auth-button:hover {
    color: #10B981;
    background-color:#c6ebdf;
}

.logo-title {
    color: #10B981;
}

.nav-item-custom {
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    .auth-button {
        background-color: #f8f9fa;
        border-radius: 0;
        color: rgb(102, 98, 98);
    }

    .nav-link:hover {
        color: #10B981;
        background-color:#c6ebdf;        
    }

    .logo-title {
        margin-top: 2px;
    }

    .responsive-p {
        margin-left: 9px;
    }
}