body {
    background-image: url('../resources/imgs/Login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Inter', sans-serif;
}

#message-login {
    display: none;
    color: red;
}